body {
    font-family: Arial, sans-serif;
    background-color: #ffe6ec;
    margin: 0;
    padding: 0;
    text-align: center;
}

.title {
    margin-top: 20px;
    color: #d63384;
}

.containerpic {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 30px;
    max-width: 1100px;
    margin: auto;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px;
    transition:  transform 0.4s ease-in-out,  filter 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}


.card.blur {
    filter: blur(3px) brightness(0.7);
    pointer-events: none;
}


.card.focused {
    transform: scale(1.4);
    z-index: 5;
    position: relative;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.card h3 {
    margin: 10px 0 5px 0;
    color: #333;
}

.card p {
    font-size: 14px;
    color: #666;
}

.menu{
     margin-top: 30px; 
}

.menu ul {
    list-style: none;
    font-size: 18px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    gap: 15px;
    justify-content: center;
}


.menu ul li a {
    text-decoration: none;
    color: white;
    background: #d484ac;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    display: inline-block;
}

.menu ul li a:hover {
    background: #864161;
    transform: scale(1.1);
}